.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttondiv {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

button {
  padding: 6px 24px;
  border-radius: 4px;
  outline: none;
  border: 1px solid black;
}

td {
  resize: horizontal;
  overflow: auto;
  background: transparent;
}

/* Refer for Resizing Tables */
/* https://stackoverflow.com/questions/61857893/hide-the-resizing-handle-in-a-resizable-div?newreg=da9fa2c3324340cda1038ac5828ae785 */

::-webkit-resizer {
  background: transparent;
}
